Django>=1.7,<1.8
psycopg2
pytz
django-braces
django-model-utils
django-pipeline>=1.4
nodeenv
raven
#python-social-auth
git+https://github.com/ismailsunni/python-social-auth.git@patch-713
django-pg-fts
django-forms-bootstrap
celery
